.product-item-card {
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .product-img {
    margin-bottom: 5vmin;
  }

  .item-img {
    height: 45vh;
    width: 115%;
    border-radius: 6px;
  }

  .product-details {
    color: rgb(7, 7, 7);
    margin: -4vmin auto;
    text-align: center;
  }

  .product-details button {
    margin-top: 10px;
  }

  .product-item-card:hover {
    transform: scale(1.1);
    transition: transform 150ms ease-in;
  }

  .product-details button:hover {
   color: white;
   background-color: black;
   border: none;
  }