  .order-history {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1.6fr 3.5fr 3fr;
    grid-template-rows: 1fr;
    border-radius: 2vmin;
    margin-left: 550px;

  }

  .Order3 {
    margin-left: 650px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
  }