.ProductList {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    row-gap: 10vmin;
    column-gap: 10vmin;
    justify-content: center;
    align-items: center;
    float: right; 
    margin-top: 150px;
    margin-right: 53px;
    margin-bottom: 100px;
  }

  .ProductList span {
    display: block;
  }

  .ProductList button {
    padding: 8px;
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
  }

  .ProductList p {
    font-size: 22px;
  }