.ProductDetailPage {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.carousel {
    display: inline;
    justify-content: center;
}

.carousel .slide {
    height: 60vh;

}

.carousel .slide img {
    max-height: 100%;
    width: auto;
    display: inline;
}

.image {
    margin: 0 auto;
    height: 100%;
    width: 30%
} 

.ProductDetailPage h1 {
   display: flex;
   justify-content: center;
   text-decoration: underline;
   font-size: 40px;
   font-family: 'Montserrat', sans-serif;
}


.ProductDetailPage p {
   width:50%;
   display: flex;
   justify-content: center;
   font-family: 'Cormorant', serif;
   font-size: 30px;
   margin-left: 430px;
}

.ProductDetailPage button {
    display: flex;
    margin-left: 660px;
    padding: 10px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 150px;
}

.ProductDetailPage span {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.ProductDetailPage button:hover {
    color: white;
    background-color: black;
    border: none;
   }

.ProductDetailPage h2 {
    font-family: 'Cormorant', serif;
    margin-left: 435px;
    padding: 0%;
   }
