.CartDetail {
    padding: 3vmin;
    font-size: 2vmin;
    color: white;
    background-color: rgba(128, 126, 123, 0.8);
    height: 100vh;
    z-index: 1;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    overflow-y:auto
    
    
  }

  .CartDetail h1 {
    display: flex;
    justify-content: center;
  }

  .Greeting {
    display: flex;
    justify-content: center;
  }

  .hungry {
    display: flex;
    justify-content: center;
  }