.Footer  {
   position: fixed;
   bottom: 0;
   width: 100%;
   font-family: 'Cormorant', serif;  
   margin-left: 50px;
   font-size: 23px;
}

.Footer span {
  color: brown;
}

.Footer  h5 {
  margin: 0.1rem;
  font-weight: 400;
  text-transform: none;
  line-height: 1.25;
  margin-left: 10px;
}

#footer {
  margin-left: 24px;
}
